{
    "printWidth": 80,
    "tabWdith": 2,
    "singleQuote": true,
    "trailingComma": "all",
    "bracketSpaceing": true,
    "useTabs": false,
    "arrowParens": "avoid",
    "endOfLine": "auto"
}